{% extends 'web/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<!-- Horizontal Form -->
<div class="box box-info">
    <div class="box-header with-border">
        <p class="text-center">
            <font size="20"><strong>CLIENT RATEE</strong></font>
        </p>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <!--- First Name --->
            <div class="form-group">
                <label for="inputFirst" class="col-sm-4 control-label">First Name:</label>

                <div class="col-sm-4">
                    <input type="email" class="form-control" id="inputFirst" placeholder="Enter your first name...">
                </div>
            </div>
            <!--- Last Name --->
            <div class="form-group">
                <label for="inputLast" class="col-sm-4 control-label">Last Name:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputLast" placeholder="Enter your last name...">
                </div>
            </div>
            <!--- Middle Name --->
            <div class="form-group">
                <label for="inputMiddle" class="col-sm-4 control-label">Middle Name:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputMiddle" placeholder="Enter your middle name...">
                </div>
            </div>
            <!--- Address --->
            <div class="form-group">
                <label for="inputAddress" class="col-sm-4 control-label">Address:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputAddress" placeholder="Enter your address...">
                </div>
            </div>
            <!--- Email --->
            <div class="form-group">
                <label for="inputEmail" class="col-sm-4 control-label">Email:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputEmail" placeholder="Enter your email address...">
                </div>
            </div>
            <!--- Mobile Number --->
            <div class="form-group">
                <label for="inputMobile" class="col-sm-4 control-label">Mobile No.:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputMobile" placeholder="Enter your mobile number...">
                </div>
            </div>
            <!--- Account --->
            <div class="form-group">
                <label for="inputAccount" class="col-sm-4 control-label">Account:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputAccount" placeholder="Enter your account...">
                </div>
            </div>
            <!--- Project --->
            <div class="form-group">
                <label for="inputProject" class="col-sm-4 control-label">Project:</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputProject" placeholder="Enter your project...">
                </div>
            </div>

            <!-- /.box-body -->
                <div class="box-footer" align="center">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
                <!-- /.box-footer -->
        </div>
    </form>
</div>
{% endblock content %}