{% extends 'web/base.html' %}
{% block department %}
<title>Department Employee</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>
<table>
    <tr>
        <td>
            <h1>
                Department Employee
            </h1>
        </td>
        <td>
            <div class="box"></div>
                <div class="dropdown">
                    <button class="dropbtn">SELECT</button>
                    <div class="dropdown-content">
                        <a href="#">All Personnel</a>
                        <a href="#">Emerging</a>
                        <a href="#">Networking</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No#</th>
            <th>Mobile No#</th>
            <th>Address</th>
            <th>Designation</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        {% for emp in employ %}
        <tr>
            <td>{{ emp.empid }}</td>
            <td>{{ emp.first_name }} {{ emp.middle_name }} {{ emp.last_name }}</td>
            <td>{{ emp.emp_email }}</td>
            <td>{{ emp.phone }}</td>
            <td>{{ emp.mobile }}</td>
            <td>{{ emp.address }}</td>
            <td>{{ emp.designation }}</td>
            <td>{{ emp.department }}</td>
        </tr>
        {% endfor %}
        </tfoot>
    </table>
</div>
<!-- /.box-body -->
</div>
<!-- /.content-wrapper -->
{% endblock department %}