{% extends 'web/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-md-12">
                                    <!-- /.progress-group -->

                                    <!-- INSERT CONTENT HERE -->
                                    <div>
                                        <p class="text-center">
                                            <font size="20"><strong>WELCOME TO NPS!!</strong></font>
                                        </p>
                                    </div>
                                    <!-- Table Content Insert here -->
                                    <div>
                                        <p class="text-center">
                                            <font size="5"></font>
                                        </p>
                                    </div>
                                </div>
                                <!-- /.INSERT CONTENT HERE -->

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
{% endblock content %}